.inline-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inline-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 0px;
    background-color: #d8d0dd;
    background-image: url('./assets/wiki2.png');
    background-size: 100%;
    background-position: center;
    box-shadow: 0px 10px 60px rgba(109, 94, 141, 0.555);
    /* berikan sudut round pada bagian bawah */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inline-form label {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.inline-input {
    width: 200px;
    padding: 8px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(109, 94, 141, 0.555);
}

.inline-button {
    background-color: rgb(107, 49, 182);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 0px 8px 20px rgba(109, 94, 141, 0.555);
}

.inline-button:hover {
    background-color: #611097;
}

.finding-route {
    text-align: center;
    color: #6d5e8d;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.suggestion {
    cursor: pointer;
    font-size: 12px;
    padding: 8px;
    background-color: #dcc9f1;
    border: 5px solid #ffffff;
    border-top: none;
    text-align: center;
}

.suggestion:hover {
    background-color:  #d8d0dd;
}

.suggestion-container {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.suggestion-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0px 10px 20px rgb(107, 49, 182);
}