.result-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #6d5e8d;
}

.result-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(109, 94, 141, 0.555);
    background-color: #d8d0dd;
    height: 500px;
    padding: 30px;
}

.article-checked {
    position: absolute;
    text-align: center;
    top: 30px; 
    right: 10px;
    color: #524869;
}

.addition {
    font-size: 10px;
    position: absolute;
    text-align: center;
    top:10px; 
    color: #524869;
}

.article-clicked {
    position: absolute;
    text-align: center;
    top: 30px; 
    left: 10px;
    color: #524869;
}

.exc-time {
    position: absolute;
    text-align: center;
    bottom: 20px;
    color: #524869;
}
