.result-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #6d5e8d;
}

.result-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(109, 94, 141, 0.555);
    background-color: #d8d0dd;
    height: 500px;
    padding: 30px;
}

.article-checked {
    position: absolute;
    text-align: center;
    top: 30px; 
    right: 20%;
    color: #524869;
}

.addition {
    font-size: 10px;
    position: absolute;
    text-align: center;
    top:10px; 
    color: #524869;
}

.article-clicked {
    position: absolute;
    text-align: center;
    top: 30px; 
    left: 20%;
    color: #524869;
}

.exc-time {
    position: absolute;
    text-align: center;
    bottom: 20px;
    color: #524869;
}

@media screen and (max-width: 800px) {
    .article-checked {
        right: 30px;
    }

    .article-clicked {
        left: 30px;
    }
}

.loading-spinner {
    position: relative;
    left: 49%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #524869;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fun-fact {
    animation: fadeInOut 6.6s linear infinite;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    text-align: center;
    color: #6d5e8d;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    12.5% { opacity: 0.8; }
    25% { opacity: 0.9; }
    50% { opacity: 1; }
    75% { opacity: 0.9; }
    87.5% { opacity: 0.8; }
    100% { opacity: 0; }
}
